* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* # */

body {
  font-family: 'Inter', sans-serif;
}

table {
  width: 60%;
  margin: 100px auto;
  border-collapse: collapse;
  font-size: 16px;
  box-shadow: 0 12px 22px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #087f5b ;
  color: white;
}

thead th {
  width: 25%;
}

th, td {
  padding: 16px 24px;
  text-align: left;
}

tbody tr:nth-child(even) {
 background-color: rgb(245, 245, 245);
}